<%= render "layouts/flash" %>
<!-- <center><h1>Bus Reservation System</h1><br><br><br></center> -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><h3>Bus Reservation System</h1></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
      <span class="navbar-text">
        <% if  current_user.present?%>
          <%= link_to "Home", root_path, class:"btn btn-primary btn-sm" %>
          <%= link_to "Buses", buses_path, class:"btn btn-primary btn-sm" %>
          <%= link_to "Logout", destroy_user_session_path, class:"btn btn-danger btn-sm", data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %>
        <%end%>
      </span>
    </div>
  </div>
</nav>

<% if can? :create, @user => User %>
<center><h1 class="mt-3">Manager Data</h1></center>
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">Role Id</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <th scope="row"><%=manager.id%></th>
        <th scope="row"><%=link_to manager.name, user_path(manager.id) %></th>
        <th scope="row"><%=manager.username%></th>
        <th scope="row"><%=manager.email%></th>
        <th scope="row"><%=manager.contact%></th>
        <th scope="row"><%=manager.role_id%></th>
        <th scope="row"><%=manager.age%></th>
        <th scope="row"><%=manager.gender%></th>
        <th scope="row"><span><%= manager.status %></span></th>
        
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>


