
<!-- <center><h1>Bus Reservation System</h1><br><br><br></center> -->

<nav class="navbar navbar-expand-lg bg-white shadow-lg rounded">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><h3>Bus Reservation System</h1></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
      <span class="navbar-text">
        <% if  current_user.present?%>
          <%= link_to "Logout", destroy_user_session_path, class:"btn btn-outline-danger", data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %>
        <%end%>
      </span>
    </div>
  </div>
</nav>
<!-- <i class="fa-brands fa-font-awesome"></i>
<i class="fa-solid fa-user-secret"></i>
<i class="fa-regular fa-bell"></i>
 -->
 <div class="container py-5 my-5">
  <div class="row align-items-center">
    <div class="col-6">
      <h1>Bus Reservation System</h1><br>
      <p>Bus Reservation System The Aim behind this is to automate online ticket purchasing through an easy-to-use online bus booking system.</p>     
      <span class="navbar-text">
        <% if can? :manage, @user => User%>
          <%= link_to "Managers", users_path, class:"btn btn-outline-primary" %>
        <%end%>
        <% if  current_user.present?%>
          <%= link_to "Buses", buses_path, class:"btn btn-outline-primary" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-primary " %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-primary" %>
        <%end%>
      </span>
    </div>
    <div class="col-6">
      <img src="<%= asset_path "background.png" %>">
    </div>
  </div>
</div>

<%if current_user.present?%>
  <div >Logged in as : <%=current_user.email%></div>
<%end%>