<section class="vh-100 gradient-custom mb-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Book-Ticket</h2>
              <p class="text-white-50 mb-5">Please enter book your ticket!</p>
              <%= form_with model: ticket do |form| %>
              <div class="form-outline form-white mb-4">
                <%= form.label :seat %><br>
                <%= form.text_field :seat %>
                <% ticket.errors.full_messages_for(:seat).each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>
              <%= form.submit :Submit, class: "btn btn-outline-light btn-lg px-5" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
