<center><h2 class="fw-bold mb-2 text-uppercase">Book-Ticket</h2>
  <div class="mb-md-5 mt-md-4 pb-5 w-50">
    <%= simple_form_for ticket do |form| %>
      <%= form.hidden_field :bus_id%>
      <h5>Add and Enter Passngers Details</h5>
      <div id="passengers">
        <%=form.simple_fields_for :passengers do |passenger|%>
          <%=render 'passenger_field', f: passenger %>
        <%end%>
        
        <div class="links">
            <% unless @ticket.new_record?%>
            <%else%>
              <%=link_to_add_association 'Add Passenger', form, :passengers, partial: 'passenger_field' %>
            <%end%>
        </div>
      </div>
    
    <br><%= form.submit :Submit, class: "btn btn-primary " %>
    <%= link_to "Back", :back %>
    <% end %>
  </center>
</div>

