<%@ticket.passengers.each do |passenger|%>
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Bus Id</th>
        <th scope="col">Passenger-Name</th>
        <th scope="col">Passenger-Age</th>
        <th scope="col">Passenger-Gender</th>
        <th scope="col">Passenger-Contact</th>
        <th scope="col">Passenger-Seat</th>
        <th scope="col">Departure</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%=@ticket.id%></td>
          <td><%=@ticket.user_id%></td>
          <td><%=@ticket.bus_id%></td>

          <td><%= passenger.name%></td>
          <td><%= passenger.age%></td>
          <td><%= passenger.gender%></td>
          <td><%= passenger.contact%></td>
          <td><%= passenger.seat%></td>
          <td><%= @ticket.bus.date%></td>
        </tr>
    </tbody>
  </table>  
<%end%>


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"><%= link_to "Edit", edit_ticket_path(@ticket) %></button>
  <button type="button" class="btn btn-outline-primary "><%= link_to "Destroy", ticket_path(@ticket), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
  <button type="button" class="btn btn-outline-primary "><%= link_to "Back", :back %></button>
</div>

<%if @ticket.bus.date < Date.today%>
  <h2>Reviews</h2>
  <% @ticket.reviews.each do |comment| %>
    <p>
      <strong>Reviewer :</strong>
       <%= @current_user.name %>
    </p>

    <p>
      <strong>Review :</strong>
      <%= comment.review %>
    </p>
    <p>
       <%= link_to "Destroy Comment", [review.ticket, review], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
    </p>
  <% end %>

  <h3>Add Your Reviews</h3>
  <%= form_with model: [ @ticket, @ticket.reviews.build ] do |form| %>
    <p>
      Name : <%= @current_user.name %>
    </p>
    <p>
      <%= form.label :Review %><br>
      <%= form.text_area :review %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>