

<h6>Ticket Id : <%=@ticket.id %></h6>

<h6>Seat No : <%= @ticket.seat %></h6>

<%@passengers.each do|passenger|%>
  <ul>
    <li>
      <%=passenger.name%>
    </li>
    <li>
      <%=passenger.age%>
    </li>
    <li>
      <%=passenger.contact%>
    </li>
  </ul>
  <hr>
<%end%>




<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"><%= link_to "Edit", edit_ticket_path(@ticket) %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Destroy", ticket_path(@ticket), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Back", :back %></button>
</div>
