<h6>Name : <%=@current_user.name%></h6>

<h6>Email : <%=@current_user.email%></h6>

<h6>Contact : <%=@current_user.contact%></h6>

<h6>Gender : <%=@current_user.gender%></h6>

<h6>Ticket Id : <%=@ticket.id %></h6>

<h6>Seat No : <%= @ticket.seat %></h6>



<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"><%= link_to "Edit", edit_ticket_path(@ticket) %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Destroy", ticket_path(@ticket), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Back", :back %></button>
</div>
